In [1]:
import pandas as pd
import numpy as np
import time

from graphviz import Digraph
import seaborn as sns
import matplotlib.pyplot as plt
import itertools

from roc_evals import *

In [2]:
cen1 = "cenarios_cba/media_movel/mean_5/cen1/"
cen2 = "cenarios_cba/media_movel/mean_5/cen2/"
cen3 = "cenarios_cba/media_movel/mean_5/cen3/"
cen4 = "cenarios_cba/media_movel/mean_5/cen4/"
cen5 = "cenarios_cba/media_movel/mean_5/cen5/"
cen6 = "cenarios_cba/media_movel/mean_5/cen6/"

cen1_r = "cenarios_cba/media_movel/mean_5/cen1/rates/"
cen2_r = "cenarios_cba/media_movel/mean_5/cen2/rates/"
cen3_r = "cenarios_cba/media_movel/mean_5/cen3/rates/"
cen4_r = "cenarios_cba/media_movel/mean_5/cen4/rates/"
cen5_r = "cenarios_cba/media_movel/mean_5/cen5/rates/"
cen6_r = "cenarios_cba/media_movel/mean_5/cen6/rates/"

In [3]:
#defining ref def 

col_labels = ['xmeas%02d_low' % x for x in [1,2,3,8,9,21]]+ ['xmeas%02d_high' % x for x in [1,2,3,8,9,21]] 
df_mat = np.zeros([12,12], dtype=int)

ref_df = pd.DataFrame(df_mat, columns = col_labels, index=col_labels)
ref_df.loc['xmeas01_low'][['xmeas21_high', 'xmeas09_low']] = [1,1]
ref_df.loc['xmeas09_low']['xmeas21_high'] = 1

ref_df.loc['xmeas01_high'][['xmeas21_low', 'xmeas09_high']] = [1,1]
ref_df.loc['xmeas09_high']['xmeas21_low'] = 1

In [4]:
#Cenário 1


cen1_list = [cen1+'k%d_l1_h1_sel_corrs.csv' % x for x in [1,3,6]]
set_c1_r = ['k%d_l1_h1.csv' % x for x in [1,3,6]]


for cen, sett in zip(cen1_list, set_c1_r):
    conf = generate_conf_df(pd.read_csv(cen, index_col=0), ref_df)
    conf.to_csv(cen1_r+"conf_"+sett)
    df_met = pd.DataFrame([[tp_rate(conf), fp_rate(conf), precision(conf)]], columns = ['tp_rate', 'fp_rate', 'precisao'])
    df_met.to_csv(cen1_r+"met_"+sett)

In [5]:
#cenário 2

cen2_list = [cen2+'k1_l%d_h1_sel_corrs.csv' % x for x in [3,6]]
set_c2_r = ['k1_l%d_h1.csv' % x for x in [3,6]]


for cen, sett in zip(cen2_list, set_c2_r):
    conf = generate_conf_df(pd.read_csv(cen, index_col=0), ref_df)
    conf.to_csv(cen2_r+"conf_"+sett)
    
    df_met = pd.DataFrame([[tp_rate(conf), fp_rate(conf), precision(conf)]], columns = ['tp_rate', 'fp_rate', 'precisao'])
    df_met.to_csv(cen2_r+"met_"+sett)

In [6]:
#Cenário 3

cen3_list = [cen3+'k1_l1_h%d_sel_corrs.csv' % x for x in [3,6]]
set_c3_r = ['k1_l1_h%d.csv' % x for x in [3,6]]


for cen, sett in zip(cen3_list, set_c3_r):
    conf = generate_conf_df(pd.read_csv(cen, index_col=0), ref_df)
    conf.to_csv(cen3_r+"conf_"+sett)
    
    df_met = pd.DataFrame([[tp_rate(conf), fp_rate(conf), precision(conf)]], columns = ['tp_rate', 'fp_rate', 'precisao'])
    df_met.to_csv(cen3_r+"met_"+sett)

In [7]:
#Cenário 4


cen4_list = [cen4+'k%d_l1_h3_sel_corrs.csv' % x for x in [3,6]] +[cen4+'k%d_l1_h6_sel_corrs.csv' % x for x in [3,6]]
set_c4_r = ['k%d_l1_h3.csv' % x for x in [3,6]]+['k%d_l1_h6.csv' % x for x in [3,6]]

for cen, sett in zip(cen4_list, set_c4_r):
    cof = generate_conf_df(pd.read_csv(cen, index_col=0), ref_df)
    conf.to_csv(cen4_r+"conf_"+sett)
    
    df_met = pd.DataFrame([[tp_rate(conf), fp_rate(conf), precision(conf)]], columns = ['tp_rate', 'fp_rate', 'precisao'])
    df_met.to_csv(cen4_r+"met_"+sett)

In [8]:
#Cenário 5


cen5_list = [cen5+'k1_l%d_h3_sel_corrs.csv' % x for x in [3,6]] +[cen5+'k1_l%d_h6_sel_corrs.csv' % x for x in [3,6]]
set_c5_r = ['k1_l%d_h3.csv' % x for x in [3,6]]+['k1_l%d_h6.csv' % x for x in [3,6]]

for cen, sett in zip(cen5_list, set_c5_r):
    conf = generate_conf_df(pd.read_csv(cen, index_col=0), ref_df)
    conf.to_csv(cen5_r+"conf_"+sett)
    
    df_met = pd.DataFrame([[tp_rate(conf), fp_rate(conf), precision(conf)]], columns = ['tp_rate', 'fp_rate', 'precisao'])
    df_met.to_csv(cen5_r+"met_"+sett)

In [9]:
#Cenário 6 

cen6_list = [cen6+'k%d_l%d_h1_sel_corrs.csv' %(x,y) for x, y in zip([3,6], [3,6])]
set_c6_r = ['k%d_l%d_h1_sel.csv' %(x,y) for x, y in zip([3,6], [3,6])]

for cen, sett in zip(cen6_list, set_c6_r):
    conf = generate_conf_df(pd.read_csv(cen, index_col=0), ref_df)
    conf.to_csv(cen6_r+"conf_"+sett)
    
    df_met = pd.DataFrame([[tp_rate(conf), fp_rate(conf), precision(conf)]], columns = ['tp_rate', 'fp_rate', 'precisao'])
    df_met.to_csv(cen6_r+"met_"+sett)

In [10]:
#Cenários 4 e 5 completos - todos os indices

In [11]:
#cenário 4

paths_cen1 = [cen1_r+'met_k%d_l1_h1.csv' % x for x in [1,3,6]]
paths_cen3 = [cen3_r+'met_k1_l1_h%d.csv' % x for x in [3,6]]
paths_cen4 = [cen4_r+'met_k%d_l1_h%d.csv' %(x[0], x[1]) for x in list(itertools.product([3, 6], repeat=2))]
paths = (paths_cen1+paths_cen3+paths_cen4)

dfs_cen4 = []
for path in paths:
    dfs_cen4.append(pd.read_csv(path,index_col=0))

dfs_k1 = [dfs_cen4[0], dfs_cen4[3], dfs_cen4[4]]
dfs_k3 = [dfs_cen4[1], dfs_cen4[5], dfs_cen4[6]]
dfs_k6 = [dfs_cen4[2], dfs_cen4[7], dfs_cen4[8]]

df_curve_k1 = pd.concat(dfs_k1)
df_curve_k1.index = [1,3,6]

df_curve_k3 = pd.concat(dfs_k3)
df_curve_k3.index = [1,3,6]

df_curve_k6 = pd.concat(dfs_k6)
df_curve_k6.index = [1,3,6]

In [12]:
#cen4 k=1

(df_curve_k1*100).round(1)

   tp_rate  fp_rate  precisao
1     33.3      0.7      66.7
3     33.3      0.7      66.7
6     33.3      1.4      50.0

In [13]:
#cen 4 k = 3

(df_curve_k3*100).round(1)

   tp_rate  fp_rate  precisao
1     33.3      0.7      66.7
3     33.3      1.4      50.0
6     33.3      1.4      50.0

In [14]:
#cen4 k = 6

(df_curve_k6*100).round(1)

   tp_rate  fp_rate  precisao
1     33.3      0.7      66.7
3     33.3      1.4      50.0
6     33.3      1.4      50.0

In [15]:
#cenário 5

paths_cen1 = [cen1_r+'met_k1_l1_h1.csv']
paths_cen2 = [cen2_r+'met_k1_l%d_h1.csv' % x for x in [3,6]]
paths_cen3 = [cen3_r+'met_k1_l1_h%d.csv' % x for x in [3,6]]
paths_cen5 = [cen5_r+'met_k1_l%d_h%d.csv' %(x[0], x[1]) for x in list(itertools.product([3, 6], repeat=2))]
paths_final_cen5 = (paths_cen1+paths_cen2+paths_cen3+paths_cen5)

dfs_cen5 = []
for path in paths_final_cen5:
    dfs_cen5.append(pd.read_csv(path,index_col=0))

dfs_l1 = [dfs_cen5[0], dfs_cen5[3], dfs_cen5[4]]
dfs_l3 = [dfs_cen5[1], dfs_cen5[5], dfs_cen5[6]]
dfs_l6 = [dfs_cen5[2], dfs_cen5[7], dfs_cen5[8]]

df_curve_l1 = pd.concat(dfs_l1)
df_curve_l1.index = [1,3,6]

df_curve_l3 = pd.concat(dfs_l3)
df_curve_l3.index = [1,3,6]

df_curve_l6 = pd.concat(dfs_l6)
df_curve_l6.index = [1,3,6]

In [16]:
#l = 1 
(df_curve_l1*100).round(1)

   tp_rate  fp_rate  precisao
1     33.3      0.7      66.7
3     33.3      0.7      66.7
6     33.3      1.4      50.0

In [17]:
#l =3

(df_curve_l3*100).round(1)

   tp_rate  fp_rate  precisao
1     50.0      1.4      60.0
3     33.3      1.4      50.0
6     33.3      2.2      40.0

In [18]:
#l = 6
(df_curve_l6*100).round(1)

   tp_rate  fp_rate  precisao
1     66.7      2.2      57.1
3     50.0      1.4      60.0
6     50.0      2.2      50.0